<!DOCTYPE html>
<html lang="en">
{% load static %}    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Main.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/TitleLogo.svg' %}">
    <!-- Remname this to the name of your page eg Team for team page -->
    <title>Template</title>
</head>
<body>
    <!-- sidebar here -->
    <div class="sidebar">
        <!-- Logo here -->
        <a href="">
            <img class="logo" src="{% static 'images/Logo.svg' %}" alt="Sky Connect logo">
        </a>
        <!-- add href to your page here -->
        <ul>
           
            <li>
                <button class="sidebarButton">
                    <!-- add the file name of your part of the website here -->
                    <a class="SidebarText" href="">Teams</a>
                </button>
            </li>
            <li>
                <button class="sidebarButton">
                    <!-- add the file name of your part of the website here -->
                    <a class="SidebarText" href="">Organization</a>
                </button>
            </li>
            <li>
                <button class="sidebarButton">
                    <!-- add the file name of your part of the website here -->
                    <a class="SidebarText" href="">Messages</a>
                </button>
            </li>
            <li>
                <button class="sidebarButton">
                    <!-- add the file name of your part of the website here -->
                    <a class="SidebarText" href="">Schedule</a>
                </button>
            </li>
            <li>
                <button class="sidebarButton">
                    <!-- add the file name of your part of the website here -->
                    <a class="SidebarText" href="">Reports</a>
                </button>
            </li>
        </ul>
    </div>
    <!-- Page content here do NOT write code out side of the div below or it wont show up in the content section -->
    <div class="mainContent">
        <header>
            <h1 class="pageTitle">Template</h1>
            <div class="dropdown">
                <div>
                    <button class="headerButton" onclick="toggleDropdown()"><img class="headerProfilePic" src="DefaultProfilePic.svg" alt="Default profile picture">Username</button>
                </div>
                <div class="dropdownContent" id="dropdownMenu">
                    <button class="dropdownButton">
                        <a class="dropdownText" href="">Settings</a>
                    </button>
                    <button class="dropdownButton">
                        <a class="dropdownText" href="">Profile</a>
                    </button>
                </div>
            </div>
        </header>

        <!-- start your code here -->

        <footer><p class="footerText">&#169;Sky Connect 2026</p></footer>
    </div>
</body>
</html>

<script>
function toggleDropdown() {
    const menu = document.getElementById("dropdownMenu");

    if (menu.style.display === "block") {
        menu.style.display = "none";
    } else {
        menu.style.display = "block";
    }
}
</script>